<div class="container mt-3">
  <div class="mx-auto col-lg-12">
    <div class="row">
      <div class="col-10 offset-1">
        <h3 class="page-title">商品詳細</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
       <% if @item.image.attached? %>
            <%= image_tag item.image, size: "400x300" %>
          <% else %>
            <%= image_tag 'no_image', size: "400x300" %>
          <% end %>
      </div>
      <div class="col">
        <table class="table table-borderless">
          <tr>
            <th style="width: 40%">商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
            <th>価格</th>
            <td> <%= @item.price.to_s(:delimited) %> 円</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td>
              <% if @item.is_active %>
              <div class="text-success">販売中</div>
              <% else %>
              <div class="text-secondary">販売停止中</div>
              <% end %>
            </td>
          </tr>
        </table>
        <%= link_to '編集する', edit_admin_item_path(@item), class: "btn btn-success" %>
        <%= link_to '削除する', admin_item_path(@item), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

</div>