<!DOCTYPE html>
<html>
  <head>
    <title>TiketShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <% if customer_signed_in? %>
     <%= link_to destroy_customer_session_path, method: :delete do %>
     <p>Log out</p>
     <% end %>
    <% end %>
    
    <% if admin_signed_in? %>
     <%= link_to destroy_admin_session_path, method: :delete do %>
     <p>管理人Log out</p>
     <% end %>
    <% end %>
    
    
    
  </body>
</html>
